[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
simple-salesforce = {editable = true, git = "https://github.com/simple-salesforce/simple-salesforce.git"}

[requires]
python_version = "3.7"
